<aside class="column is-3">
    <div class="panel">
        <p class="panel-heading has-text-centered">Chatter</p>

        <p class="panel-tabs">
          <a class="is-active">Users</a>
          <a>Public Rooms</a>
        </p>

        <%= turbo_stream_from 'users' %>
        <div id="users" class="is-active">
          <% @users.each do |user| %>
            <%= render 'users/user', user: user %>
          <% end %>
        </div>

        <%= turbo_stream_from 'rooms' %>
        <div id="rooms">
          <% @rooms.each do |room| %>
            <%= render 'rooms/room', room: room %>
          <% end %>
        </div>

        <%= render 'rooms/form', room: @room %>
    </div>
</aside>
